<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question 3</title>
</head>
<body>
<h2>Marks Calculator</h2>
<br />
<table border="1">
    <thead>
    <tr>
        <th>Subject</th>
        <th>Credit Hours</th>
        <th>Marks</th>
        <th>Grade Point</th>
    </tr>
    </thead>
    <tbody>
    {% for object in scores %}
    <tr>
        <td>{{ object.subject }}</td>
        <td>{{ object.credit_hour }}</td>
        <td>{{ object.mark }}</td>
        <td>{{ object.grade_point }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No objects found.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br />
<h4>Total CGPA : {{ cgpa }}</h4>
</body>
</html>